<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>支付订单</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!--<link rel="shortcut icon" href="/Public/Home/Mob/img/favicon.ico">-->
    <script src="/Public/Home/topic/js/flexible.js"></script>
    <link rel="stylesheet" href="/Public/Home/topic/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/Public/Home/topic/css/weui.min.css">
    <link rel="stylesheet" href="/Public/Home/member/css/main.css?v=48">
    <link rel="stylesheet" href="/Public/Home/topic/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/Public/Home/topic/css/main.css?v=14">
    <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>

<body>
    <div v-cloak id="app" class="main main-tabbar">
        <div v-show="page.show == 'home'">
            
            <div class="m-main j-timeGoPay-info clearfix">
                <div class="j-timeGoPay-item item-line">
                    <p class="item-d1"><strong>{{ order_time }}分钟</strong></p>
                    <p v-if="APP.getOrderChannel()=='14'||APP.getOrderChannel()=='13'" class="item-d2">通话（{{ order.channel_info.price}}元/分钟）</p>
                    <p v-else class="item-d2">通话（{{ product['flprice']}}元/分钟）</p>
                </div>
                <div class="j-timeGoPay-item">
                    <p class="item-d1"><strong>{{ order.money }}元</strong></p>
                    <p class="item-d2">订单金额</p>
                </div>
            </div>


            <div @click.stop="nextCoupon('coupon')" class="m-main ding">
                <div class="j-timeGoPay-coupon">
                    抵用券/优惠码
                    <span class="coupon-price">-￥0.00</span>
                </div>
            </div>
            
            <div  v-if="APP.getOrderChannel()=='14'||APP.getOrderChannel()=='13'" class="s5-orderPay-info-d3">
                <div class="info-d3-title">支付方式</div>
                <a v-if="APP.getOrderChannel() != '11'" @click="form_goPay.mode='0'" :class="{'active': form_goPay.mode=='0'}" href="javascript:;"  class="s-orderPay-item s5-orderPay-item">
                    <div class="item-label clearfix">
                        <div class="item-label-radio"></div>
                        <div class="item-label-icon item-label-icon_1"></div>
                        <div class="item-label-tex  t">微信支付</div>
                    </div>
                </a>
                <a v-if="APP.getOrderChannel() == '11'||APP.getOrderChannel() == '14'" @click="form_goPay.mode='1'" :class="{'active': form_goPay.mode=='1'}" href="javascript:;"  class="s-orderPay-item s5-orderPay-item">
                    <div class="item-label clearfix">
                        <div class="item-label-radio"></div>
                        <div class="item-label-icon item-label-icon_2"></div>
                        <div class="item-label-text">支付宝</div>
                    </div>
                </a>
            </div>


            <div class="weui-tabbar s-tabbar j-timeDetails-tabbar">
                <div class="j-timeDetails-bar__item">
                    <strong>需支付<span>￥{{ order.to_pay }}</span></strong>
                </div>
                <a v-if="order.state == '0' || order.state == '2'" @click="goPay()" href="javascript:;" class="j-timeDetails-bar__btn">
                    <strong>确认支付</strong>
                </a>
                <a v-if="order.state != '0' && order.state != '2'" href="javascript:;" class="j-timeDetails-bar__btn">
                    <strong>已完成</strong>
                </a>
            </div>

        </div>


        <div v-show="page.show == 'coupon'" class="j-timeGoPay-couponPage" data-title="使用优惠码">
            <div @click.stop="nextCoupon('home')" class="couponPage-close"></div>
            <div class="couponPage-modal">

                <div class="j-timeGoPay-coupon-title">
                    优惠码
                </div>
                <div class="m-main">
                    <div class="j-timeGoPay-coupon-item">
                        <input class="j-timeGoPay-coupon-input" placeholder="使用优惠码"/>
                        <i class="item-icon"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="/Public/Home/topic/js/jquery-3.1.1.min.js"></script>
    <script src="/Public/Home/topic/js/jquery-weui.min.js"></script>
    <script src="/Public/Home/topic/js/vue.min.js"></script>
    <script src="/Public/Home/topic/js/fastclick.js"></script>
    <script src="/Public/Home/topic/js/common.js?v=088"></script>
    <script src="/Public/Home/topic/js/main.js?v=086"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                info: {},
                info_login: false,
                page: {
                    show: '',
                    loading: 0,
                },
                form_goPay: {
                    mode: '0', //0微信 1z支付宝
                },
                order: '',
                product: {
                    channel_info:{}
                },
                order_time: 0,

            },
            created: function() {
                var _this = this;
                _this.getDetails();
                APP.getInfo(this, function(res) {
                    if (res.errno == '0') {
                        _this.page.show = 'home';
                    }
                });
                
                
            },
            mounted: function() {
                
            },
            methods: {
                goPayZFB: function () {
                    //支付宝支付
                    var _oid = APP.getParam("oid");
                    window.location.href = ajax_url + '/PC/NEWOrder/payment.json?order_id=' + _oid + '&payment=0&type=1';
                    
                },
                
                nextCoupon: function(page) {
                    if (page == 'coupon') {
                        document.title = "使用优惠码"
                    } else {
                        document.title = "支付订单"
                    }
                    this.page.show = page;
                },
                getDetails: function() {
                    var _this = this;
                    var _oid = APP.getParam("oid");
                    var _json = {
                        order_id: _oid,
                    }
                    APP.send("/PC/NEWOrder/info.json", _json, function(res) {
                        $.hideLoading();
                        if (res.errno == '0') {
                            //alert(JSON.stringify(res.data.order_id));
                            var _data = res.data;
                            _this.order = _data;
                            _this.product = _data.products[0];
                            //订单完成
                            if (_data.state == '3') {
                                //未评价律师
                                if (!_data.lawyer_evaluate || _data.lawyer_evaluate && _data.lawyer_evaluate.length == 0) {
                                    window.location.href = '/Member/jComment.html?oid='+_oid;
                                } else {
                                    window.location.href = '/Member/orderDetails.html?oid='+_oid;
                                }
                            } 

                            if (_data.call_record) {
                                _this.order_time = APP.calcMinute(_data.call_record.duration)
                            }
                        
                        }
                    })
                },
                goPay: function() {


                    var _this = this;

                    // if(APP.getOrderChannel()=='14'){
                        if (_this.form_goPay.mode == '0') {
                            var _json = {
                                order_id: APP.getParam("oid"),
                            }
                            $.showLoading("数据提交中");
                            APP.send("/PC/NEWOrder/channelOrderWechatPayment.json", _json, function(res) {
                                $.hideLoading();
                                // alert(JSON.stringify(res))
                                //    return;
                                if (res.errno == '0') {
                                    var _data = res.data;
                                
                                    wx.chooseWXPay({
                                        appId: _data.appId,
                                        timestamp: _data.timeStamp,
                                        nonceStr: _data.nonceStr,
                                        package: _data.package,
                                        signType: _data.signType,
                                        paySign: _data.paySign,
                                        success: function(res) {
                                            // 支付成功后的回调函数
                                            if (res.errMsg == "chooseWXPay:ok") {
                                                //支付成功
                                                //_this.page.show = 'pay_succ';
                                                _this.order.state = '3';
                                                window.location.href = "/Member/jComment.html?oid="+_json.order_id;
                                            } else {
                                                $.toast(res.errMsg, 'text');
                                            }
                                        },
                                        cancel: function(res) {
                                            //支付取消
                                            //$.toast('支付取消', 'text');
                                            //_this.page.show = 'pay_fail';;
                                        }
                                    });
                                    
                                } else {
                                    $.toast(res.msg, "text");
                                }
                            });


                            
                            APP.sendHm({
                                action: "click",
                                object: "confirm_to_pay",
                                chinese_object: "确认支付",
                                chinese_url: "支付订单",
                                parameter: _json.order_id
                            })
                        } else if (_this.form_goPay.mode == '1') {
                            _this.goPayZFB();
                        }



                    // }else{
                    //     var _json = {
                    //         order_id: APP.getParam("oid"),
                    //     }
                    //     $.showLoading("数据提交中");
                    //     APP.send("/PC/NEWOrder/channelOrderWechatPayment.json", _json, function(res) {
                    //         $.hideLoading();
                    //         // alert(JSON.stringify(res))
                    //         //    return;
                    //         if (res.errno == '0') {
                    //             var _data = res.data;
                            
                    //             wx.chooseWXPay({
                    //                 appId: _data.appId,
                    //                 timestamp: _data.timeStamp,
                    //                 nonceStr: _data.nonceStr,
                    //                 package: _data.package,
                    //                 signType: _data.signType,
                    //                 paySign: _data.paySign,
                    //                 success: function(res) {
                    //                     // 支付成功后的回调函数
                    //                     if (res.errMsg == "chooseWXPay:ok") {
                    //                         //支付成功
                    //                         //_this.page.show = 'pay_succ';
                    //                         _this.order.state = '3';
                    //                         window.location.href = "/Member/jComment.html?oid="+_json.order_id;
                    //                     } else {
                    //                         $.toast(res.errMsg, 'text');
                    //                     }
                    //                 },
                    //                 cancel: function(res) {
                    //                     //支付取消
                    //                     //$.toast('支付取消', 'text');
                    //                     //_this.page.show = 'pay_fail';;
                    //                 }
                    //             });
                                
                    //         } else {
                    //             $.toast(res.msg, "text");
                    //         }
                    //     });


                        
                    //     APP.sendHm({
                    //         action: "click",
                    //         object: "confirm_to_pay",
                    //         chinese_object: "确认支付",
                    //         chinese_url: "支付订单",
                    //         parameter: _json.order_id
                    //     })
                    // }



                    

                },
            }
        });      

    </script>
</body>

</html>