<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>讲师详情</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <!--<link rel="shortcut icon" href="/Public/Home/Mob/img/favicon.ico">-->
    <script src="/Public/Home/Live/js/flexible.js"></script>
    <link rel="stylesheet" href="/Public/Home/Live/css/swiper-3.4.2.min.css">
    <link rel="stylesheet" href="/Public/Home/Live/css/weui.min.css">
    <link rel="stylesheet" href="/Public/Home/Live/css/jquery-weui.min.css">
    <link rel="stylesheet" href="/Public/Home/Live/css/main.css?v=14">
    <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>

<body>
    <div v-cloak id="app" class="main">
        <div v-show="page.show == 'home'">

            
            <div class="s-lecturerDetails-head">
                <img :src="src_url+video.speakerInformation.banner" alt="">
            </div>

            <div class="s-details-lecturerBd">
                <div class="s-title">
                    讲师介绍
                </div>
                <div class="s-content s-lecturer-info">
                    <div class="s-lecturer-info-head clearfix">
                        <div class="s-lecturer-info-pic"><img :src="src_url+video.speakerInformation.image"></div>
                        <div class="s-lecturer-info-name">
                            {{ video.speakerInformation.name }}
                        </div>
                    </div>
                    <div :class="{active : video.navMore}" class="s-lecturer-info-text">
                        <div v-html="video.speakerInformation.description"></div>
                        <a :class="{active : !video.navMore}" @click="showMore()" class="s-lecturer-more" href="javascript:;"><span>{{ video.navMore ? '点击收起' : '展开更多' }}</span></a>
                    </div>
                </div>
            </div>

            <div class="s-lecturerDetails-bd">
                <div class="s-title">
                    他的Live <span class="s1">({{ video.sum }})</span>
                </div>
                <div class="s-content s-lecturerDetails-content">
                    <a @click="nextPage('合集详情', 'lecturer_details', list.name, '/Member/liveDetails.html?id='+list.id)" href="javascript:;" v-for="list in video.speakerInformation.videos" class="s-live-item clearfix">
                        <div class="s-live-item-cover">
                            <!--<i class="s-live-item-newIcon">免费</i>-->
                            <img :src="src_url+list.image">
                        </div>
                        <div class="s-live-item-info">
                            <div class="s-live-item-title">
                                {{ list.name }}
                            </div>
                            <!--<div class="s-live-item-name">
                                <span v-for="(list2, index2) in list.author">{{ index2==list.author.length-1 ? list2.author_name : list2.author_name +'、' }}</span> | <span>{{ APP.calcSum(list.view_counts) }}次播放</span>
                            </div>-->
                            <div class="s-live-item-name">
                                <span>{{ video.speakerInformation.name }}</span> | <span>{{ APP.calcSum(list.view_counts) }}次播放</span>
                            </div>
                            <div class="s-live-item-price clearfix">
                                <div class="s-live-item-class"><img :class="'bg'+list.category" :src="APP.getLiveClassIcon[list.category]"></div>
                                <span v-if="list.pstate != '2'" class="col999">已停播</span>
                                <span v-if="list.pstate == '2' && !list.order_state || list.pstate == '2' && list.order_state && list.order_state == '0'" class="colff7">￥{{ list.flprice }}</span>
                                <span v-if="list.pstate == '2' && list.order_state && list.order_state!='0'" class="colff7">已购</span></span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>



        </div>

    </div>
    <script src="/Public/Home/Live/js/jquery-3.1.1.min.js"></script>
    <script src="/Public/Home/Live/js/jquery-weui.min.js"></script>
    <script src="/Public/Home/Live/js/vue.min.js"></script>
    <script src="/Public/Home/Live/js/fastclick.js"></script>
    <script src="/Public/Home/topic/js/common.js?v=088"></script>
    <script src="/Public/Home/Live/js/main.js?v=216"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                info: {},
                info_login: false,
                page: {
                    show: '',
                    loading: 0,
                },


                video: {
                    speakerInformation: '',
                    sum: 0,
                    nav: '0',
                    navMore: false
                }

            },
            created: function() {
                var _this = this;
                _this.getSpeakerInformation();
                APP.getInfo(this, function(res) {
                    if (res.errno == '0') {
                        _this.page.show = 'home';
                    }
                });
                

                APP.sendHm({
                    action: "visits",
                    chinese_url: "讲师详情"
                })

            },
            mounted: function() {
                
            },
            methods: {
                nextPage: function(type, type_text, param, url) {
                    APP.sendHm({
                        action: "click",
                        object: type,
                        chinese_object: type_text,
                        chinese_url: "讲师详情",
                        parameter: param
                    }, function() {
                        window.location.href = url;
                    })

                },
                showMore: function() {
                    this.video.navMore = this.video.navMore ? false : true;

                    if (this.video.navMore) {
                        APP.sendHm({
                            action: "click",
                            object: "lecturerDetails",
                            chinese_object: "展开更多",
                            chinese_url: "讲师详情"
                        })
                        
                    }
                },
                getSpeakerInformation: function() {
                    var _this = this;
                    var _id = APP.getParam("id");
                    APP.send("/PC/Video/speakerInformation.json?author_id="+_id, function(res) {
                        if (res.errno == '0') {
                           //console.log(res);
                           var _data = res.data;
                           _this.video.speakerInformation = _data;
                           _this.video.sum = _data.videos.length;

                           
                           //微信分享
                           //console.log(_data.introduce)
                           var _title = "";
                           var _desc = _desc = APP.clearHtmlText(_data.description)
                           if (_data.videos && _data.videos.length>0) {
                               _title = _data.videos[0].name;
                           } else {
                               _title = _data.name;
                           }

                           APP.setShare({
                                title: _title,
                                desc: _desc.slice(0, 15),
                                link: window.location.href,
                                imgUrl: src_url + _data.image,
                                success: function() {},
                                cancel: function() {}
                           })

                           
                        }
                    });
                },
            }
        });      


    </script>
</body>

</html>